@charset "UTF-8";
* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEF8FB), to(#bf9aca));
  background: linear-gradient(#EEF8FB, #bf9aca);
}

@media screen and (max-width: 768px) {
  header img {
    width: 200px;
  }
}

@media screen and (max-width: 470px) {
  header img {
    width: 175px;
  }
}

.pa-1 {
  padding: 2em;
}

.pa-2 {
  padding: 4em;
}

.pa-3 {
  padding: 6em;
}

.tituloPag {
  color: #c03370;
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
  word-spacing: 30px;
  text-shadow: 3px 3px 3px #000;
}

@media screen and (max-width: 768px) {
  .tituloPag {
    font-size: 40px;
  }
}

@media screen and (max-width: 470px) {
  .tituloPag {
    font-size: 36px;
  }
}

.titulosDoc {
  font-size: 45px;
  text-align: center;
  padding: 28px;
  color: #923c61;
  text-shadow: 2px 2px 3px #000;
}

.textosComunes, .textosComunes2W, .textosComunesW {
  text-align: center;
  font-size: 21px;
  padding: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.subtitulo {
  font-size: 31px;
  font-weight: italic;
  text-align: center;
  padding: 15px;
  color: #ffff;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
  .subtitulo {
    font-size: 20px;
  }
}

.subtitulos, .subtitulos2 {
  font-size: 30px;
  font-weight: italic;
  text-align: center;
  padding: 15px;
  color: #000;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .subtitulos, .subtitulos2 {
    font-size: 20px;
  }
}

.textosComunes2W {
  color: antiquewhite;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: contain;
  width: 65%;
}

.textosComunesW {
  color: antiquewhite;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-weight: bold;
}

.subtitulos2 {
  padding: 30px;
  color: #41393e;
}

.textosComunes2 {
  text-align: center;
  font-size: 22px;
  padding: 2px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: #41393e;
}

.textosComunes3 {
  text-justify: initial;
  text-align: start;
  margin: 1rem;
  padding: 1rem;
}

/* Index pag */
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../media/images/carousel2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("../media/images/carousel2.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero a {
  text-decoration: none;
  color: aliceblue;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.hero a p {
  font-size: 20px;
}

.hero a:hover {
  color: #8e4162;
}

.pideYa__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pideYa__contenedor p {
  font-size: 50px;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .pideYa__contenedor p {
    font-size: 40px;
  }
}

.pideYa__contenedor a img {
  width: 150px;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .pideYa__contenedor a img {
    width: 100px;
  }
}

.pideYa a:hover {
  -webkit-animation: shakeY;
          animation: shakeY;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@media screen and (max-width: 768px) {
  .ejemplosComidas div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  transition: 0.7s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* Menu pag */
@media screen and (max-width: 768px) {
  .menuInicio h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .menuInicio p {
    font-size: 17px;
  }
}

.menuInicio__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuInicio__contenedor a:hover {
  color: aliceblue;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.menuInicio__contenedor a {
  text-decoration: none;
  text-align: center;
  color: #923c61;
  text-shadow: 1px 1px 2px #000;
}

@media screen and (max-width: 768px) {
  .menuInicio__contenedor a {
    font-size: 14px;
  }
}

@media screen and (max-width: 982px) {
  .menuInicio__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menuInicio__contenedor li {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .menuInicio__contenedor li span {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .menuInicio__contenedor li {
    font-size: 17px;
  }
}

.menuInicio__contenedor video {
  padding: 2rem;
  width: 750px;
}

@media screen and (max-width: 1191px) {
  .menuInicio__contenedor video {
    width: 600px;
  }
}

@media screen and (max-width: 982px) {
  .menuInicio__contenedor video {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .menuInicio__contenedor video {
    width: 100%px;
  }
}

@media screen and (max-width: 470px) {
  .menuInicio__contenedor video {
    width: 100%;
  }
}

.menuInicio__contenedor .menuInicio_contenedorTextos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Menu Vegano pag */
.menuVegano {
  background: url(https://i.ibb.co/q9YKywB/hamburguesaveganablur.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menuVegano h1 {
  -webkit-animation: color-change 4s infinite;
          animation: color-change 4s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: #923c61;
  }
  100% {
    color: #00ca2c;
  }
}

@keyframes color-change {
  0% {
    color: #923c61;
  }
  100% {
    color: #00ca2c;
  }
}

.menuVegano__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menuVegano__contenedor p {
  -webkit-animation: fadeInTopLeft;
          animation: fadeInTopLeft;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

@media screen and (max-width: 470px) {
  .menuVegano__contenedor p {
    -webkit-animation: none;
            animation: none;
  }
}

.menuVegano__contenedor img {
  width: 140px;
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media screen and (max-width: 768px) {
  .menuVegano__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menuVegano__platos {
  -webkit-animation: fadeInBottomLeft;
          animation: fadeInBottomLeft;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 470px) {
  .menuVegano__platos {
    -webkit-animation: none;
            animation: none;
  }
}

.menuVegano__platos ul {
  list-style: none;
  border: 2px solid #f1f1f1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.menuVegano__platos ul li {
  font-size: 20px;
  color: antiquewhite;
  -webkit-transition: 2s;
  transition: 2s;
  padding: 5px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  text-align: center;
}

.menuVegano__platos a {
  text-decoration: none;
  color: #fffb00;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.menuVegano__platos a p {
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menuVegano__platos a p:hover {
  color: greenyellow;
  font-size: 21px;
}

.dia--rosa {
  color: #fe4365;
  font-size: 30px;
  font-weight: bold;
}

.dia--salmon {
  color: #fc9d9a;
  font-size: 30px;
  font-weight: bold;
}

.dia--pantone {
  color: #BF4630;
  font-size: 30px;
  font-weight: bold;
}

.dia--verde {
  color: #83af9b;
  font-size: 30px;
  font-weight: bold;
}

.dia--azul {
  color: #0FB9F2;
  font-size: 30px;
  font-weight: bold;
}

/* Encuéntranos Pag */
.iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.iframe__lista {
  padding: 50px;
  list-style: none;
  text-align: center;
}

.iframe__lista li {
  font-size: 19px;
  font-style: italic;
  font-style: oblique;
}

.envios__texto {
  margin-top: 60px;
}

.envios__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 982px) {
  .envios__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .envios__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.envios__contenedor img {
  margin: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 768px) {
  .envios__contenedor img {
    width: 450px;
  }
}

@media screen and (max-width: 470px) {
  .envios__contenedor img {
    width: 300px;
  }
}

.escribenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor {
  width: 1000px;
  padding: 1.5em;
  color: white;
}

.contenedor .Contact-Wrapper {
  background: #41393e;
}

.contenedor .Contact-Wrapper .contact-form form {
  background: #222222;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contenedor .Contact-Wrapper .contact-form form button {
  background: #eda2c0;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contenedor .Contact-Wrapper .contact-form form p {
  margin: 0;
  padding: 1em;
}

.contenedor .Contact-Wrapper .contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contenedor .Contact-Wrapper .contact-form > * {
  padding: 1em;
}

.contenedor .Contact-Wrapper .contact-info {
  background: #000;
}

.contenedor .Contact-Wrapper .contact-info ul {
  list-style: none;
}

.contenedor .contact-form form button,
.contenedor .contact-form form input,
.contenedor .contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #eda2c0;
}

.contenedor .contact-form form button:hover,
.contenedor .contact-form form button:focus {
  background: #8e4162;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contenedor .contact-info ul,
.contenedor .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* Preguntas frecuentes Pag */
@media screen and (max-width: 768px) {
  .preguntasInicio p {
    font-size: 19px;
  }
}

@media screen and (max-width: 470px) {
  .preguntasInicio p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .preguntasInicio h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .preguntasInicio h2 {
    font-size: 16px;
  }
}

.preguntasInicio .pfContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.preguntasInicio .pfContenedor .pfContenedorTextos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  padding-left: 1rem;
}

.preguntasInicio .pfContenedor .pfContenedorTextos p {
  -webkit-animation: backInLeft;
          animation: backInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@media screen and (max-width: 768px) {
  .preguntasInicio .pfContenedor .pfContenedorTextos p {
    font-size: 17px;
  }
}

@media screen and (max-width: 470px) {
  .preguntasInicio .pfContenedor .pfContenedorTextos p {
    font-size: 14px;
  }
}

.preguntasInicio .pfContenedor img {
  -webkit-animation: backInRight;
          animation: backInRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .preguntasInicio .pfContenedor img {
    width: 450px;
  }
}

@media screen and (max-width: 470px) {
  .preguntasInicio .pfContenedor img {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  .preguntasInicio .pfContenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navFooter {
  background-color: #c7e8f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navFooter__lista {
  list-style: none;
}

.navFooter__lista li {
  padding: 2px;
}

.navFooter__lista li a {
  text-decoration: none;
  color: #000;
}

.navFooter__lista li a:hover {
  text-decoration: underline;
}

.navFooter__redes img {
  width: 30px;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navFooter__redes img:hover {
  width: 32px;
}
/*# sourceMappingURL=main.css.map */