@import "./mediaq2";

.tituloPag {
    color: #c03370;
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.2);
    word-spacing: 30px;
    text-shadow: 3px 3px 3px #000;
    @include tablet {
        font-size: 40px;
    }
    @include movil {
        font-size: 36px;
    }
}


.titulosDoc {
    font-size: 45px;
    text-align: center;
    padding: 28px;
    color: #923c61;
    text-shadow: 2px 2px 3px #000;
}


.textosComunes {
    text-align: center;
    font-size: 21px;
    padding: 10px;

}

.subtitulo {
    font-size: 31px;
    font-weight: italic;
    text-align: center;
    padding: 15px;
    color: #ffff;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    @include tablet {
        font-size: 20px;
    }
}

.subtitulos {
    font-size: 30px;
    font-weight: italic;
    text-align: center;
    padding: 15px;
    color: #000;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    @include tablet {
        font-size: 20px;
    }
}

.textosComunes2W {
    @extend .textosComunes;
    color: antiquewhite;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    background-size: contain;
    width: 65%;   
}

.textosComunesW
{
    @extend .textosComunes;
    color: antiquewhite;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 19px;
    font-weight: bold;
}

.subtitulos2 {
    @extend .subtitulos;
    padding: 30px;
    color: #41393e;
}

.textosComunes2 {
    text-align: center;
    font-size: 18px;
    padding: 2px;
    font-weight: bold;

}