@import "./mediaq2";

/* Index pag */

.pideYa {
    &__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-size: 50px;
            @include tablet {
                font-size: 40px;
            }
        }
        a {
            img {
                width: 150px;
                padding: 5px;
                @include tablet {
                    width: 100px;
                }
                }
            }
        }
        a:hover {
            animation: shakeY;
            animation-duration: 2s;
        }
    }

    .ejemplosComidas div {
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

/* Menu pag */

.menuInicio {
    &__contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            padding: 2rem;
            width: 700px;
            @include laptop {
                width: 450px;
            }
            @include tablet {
                width: 300px;
            }
            @include movil {
                width: 270px;
            }
        }
        .menuInicio_contenedorTextos {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}




/* Menu Vegano pag */

.menuVegano {
    background: url(../../media/images/hamburguesaveganablur.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__contenedor {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        img {
            width: 140px;
        }
    }
    &__platos {
        padding-top: 1rem;
        padding-bottom: 3rem;
        ul {
            list-style: none;
            border: 2px solid #f1f1f1;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.4);
            li {
                font-size: 20px;
                color: antiquewhite;
                transition: 2s;
                padding: 5px;
                transition: 1.5s;
                text-align: center;
            }
        }
    }
}

$coloresveg: (
    rosa: rgb(254,67,101),
    salmon: rgb(252,157,154),
    pantone: #BF4630,
    verde: rgb(131,175,155),
    azul: #0FB9F2,
);

@each $name, $color in $coloresveg {
    .dia--#{$name} {
        color: $color;
        font-size: 30px;
        font-weight: bold;
    }
}

/* Encuéntranos Pag */

.iframe {
    display: flex;
    justify-content: center;
    padding: 10px;
    @include tablet {
        display: flex;
        flex-direction: column;
    }
    &__lista {
        padding: 50px;
        list-style: none;
    }
}

.envios {
    &__texto {
        margin-top: 60px;
    }

    &__contenedor {
        display: flex;
        justify-content: center;

        img {
            padding: 20px;
            @include tablet {
                width: 450px;
            }
            @include movil {
                width: 300px;
            }
        }
    }
}

.contactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
        width: 550px;
        @include movil {
            width: 220px;
        }
        @include laptop {
            width: 400px;
        }
    }
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contenedor {
    max-width: 1170px;
    padding: 1.5em;
    color: white;

    .Contact-Wrapper {
        background: #41393e;

        .contact-form {
            form {
                background: #222222;
                display: grid;
                grid-template-columns: 1fr 1fr;
                button {
                    background: #eda2c0;
                    color: #fff;
                    border: 0;
                    text-transform: uppercase;
                    padding: 1em;
                }
                p {
                    margin: 0;
                    padding: 1em;
                }
                .block {
                    grid-column: 1 / 3;
                }
            }
            >* {
                padding: 1em;
            }
        }

        .contact-info {
            background: #000;

            ul {
                list-style: none;
            }

        }
    }

    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #eda2c0;
    }

    .contact-form form button:hover,
    .contact-form form button:focus {
        background: #8e4162;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
    }



    .contact-info ul,
    .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
    }

}

/* Preguntas frecuentes Pag */

.pfContenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__imagen {
        width: 500px;
        @include tablet {
            width: 400px;
        }
        @include movil {
            width: 350px;
        }
    }
}
